<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>ユーザー登録</title>
</head>
<body>
<h2>ユーザー登録</h2>

<div th:if="${error}" style="color:red;" th:text="${error}"></div>
<div th:if="${success}" style="color:green;" th:text="${success}"></div>

<form th:action="@{/register-form}" method="post" th:object="${user}">
    <label>ユーザー名: <input type="text" th:field="*{username}" required></label><br>
    <label>パスワード: <input type="password" th:field="*{password}" required></label><br>
    <button type="submit">登録</button>
</form>

<a href="/login">ログインへ戻る</a>
</body>
</html>
